* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins";
  color: #373737;
}

nav {
  display:grid;
  grid-template-columns: 35% 65%;
  background-color: #EBECEB;
}

nav ul{
  display: flex;
}

.main-nav{
  padding: 15px 0px 15px 30px;
}

.nav-list li {
  list-style: none;
  margin-right: 100px;
  padding: 10px 0px 0px 0px
}

.nav-list li a{
  color: #373737;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

li a::after{
  content:"";
  position: absolute;
  display:block;
  height: 0.1em;
  width: 0;
  background-color: #606060;
  bottom:-0.5em;
  transition: all ease-in-out 250ms;
}

li a:hover::after{
  width:100%;
}

.customer-details-container {
  display: grid;
  grid-template-columns: 1FR 2FR 1FR;
  grid-row: 1FR;
}

.customer-details-container > .ordertransactions {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 60px 40px 40px 40px;
}

.ordertransactions td, th {
  text-align: center;
  padding: 8px;
}

.ordertransactions tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ordertransactions tr:hover {
  background-color: #ddd;
}

.customer-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
  width: 15%;
}

.customer-details-container > .customer-details {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 40px;
}

.customer-details-container > .btn-group {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

button{
  font-family: Poppins;
  background-color: #555555;
  border: 2px solid #555555;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 40px 0px 0px 0px;
  cursor: pointer;
  align-items: center;
  width: 35%;
  border-radius: 5px;
  height: auto;
  display: inline-block;
}

.del-btn{
  background-color: white;
  color: #730000;
  border-color:  #730000;
}

footer{
  padding: 20px 0px 20px 0px;
  text-align: center;
  background-color: #EBECEB;
  position: relative;
  font-size: 12px;
  margin: 600px 0px 0px 0px;
}
